{% extends 'layout.twig' %}

{% from "./macros/forecast-icon.twig" import forecastIcon %}

{% block main %}
  <h1>{{ title }} {{ location }}</h1>
  <section class="forecast__summary">
    <header>This week's outlook:</header>
    <div class="forecast__icon">{{ forecast.icon }}</div>
    <div>{{ forecast.summary }}</div>
  </section>
  <div class="forecast__7day">
    {% for day in forecast.days.data %}
    <div class="forecast__tile">
      <div class="forecast__icon">{{ forecastIcon(day.icon) }}</div>
      <div class="forecast__summary">{{ day.summary }}</div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
