{% extends 'layout.twig' %}

{% from "./macros/forecast-icon.twig" import forecastIcon %}

{% block main %}
  <h1>{{ locationHeading }}</h1>

  <div class="forecast">
    {% for day in forecast.days %}
    <div class="card forecast__card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <div class="forecast__date font-weight-bold">
          {% if loop.first %}
            Today
          {% else %}
            {{ day.month }} {{ day.date }}
          {% endif %}
        </div>
        {{ forecastIcon(day.icon) }}
      </div>
      <div class="card-body forecast__body">
        <div class="forecast__summary">
          <div class="lead">{{ day.summary }}</div>
        </div>
        <div class="forecast__details">
          <div><strong>High:</strong> {{ day.temperatureHigh | number_format }}&deg;F</div>
          <div><strong>Low:</strong> {{ day.temperatureLow | number_format }}&deg;F</div>
          <div><strong>Precip:</strong> {{ day.precipProbability | number_format }}%</div>
          <div><strong>Humidity:</strong> {{ day.humidity | number_format }}%</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
